body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

input {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  font-size: 14px;
  outline: none;
  color: rgb(49, 49, 49);
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.container-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-task {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 450px;
  padding-bottom: 10px;
}

.container-task > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.container-task header > p {
  text-align: center;
  color: #00c297;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  animation: mover 0.5s ease-out;
}

@keyframes mover {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.task > span {
  display: flex;
  align-items: center;
  max-width: 300px;
  line-height: 25px;
}

.button-add {
  background-color: #00c297;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
}

.button-add:hover {
  background-color: rgb(2, 167, 131);
}

.button-delete {
  background-color: #e03333;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  padding: 8px 16px;
  max-height: 35px;
}

.button-delete-icon {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;
  max-height: 35px;
}

.button-delete-icon:hover {
  animation: delete 1s ease-out;
}

@keyframes delete {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-delete:hover {
  background-color: #e30d0d;
  text-decoration: none;
  transition-duration: 0.1s;
}

/* Responsive */

@media (max-width: 600px) {
  input {
    width: 200px;
    margin: 12px;
  }

  .container-search {
    flex-direction: column;
    align-items: center;
  }

  .container-task {
    width: 300px;
  }

  .task > span {
    max-width: 150px;
    line-height: 20px;
  }
}
