body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

h1 {
  text-align: center;
}

span {
  font-weight: 400;
}

input {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  font-size: 14px;
  outline: none;
  color: rgb(49, 49, 49);
}

input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.container-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-add-task {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-task {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 450px;
}

.container-task > p {
  text-align: center;
  color: #00c297;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  color: #161616;
}

.task > span {
  display: flex;
  align-items: center;
  max-width: 300px;
  line-height: 25px;
}

.button-add {
  appearance: none;
  background-color: #00c297;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-add:hover {
  background-color: rgb(2, 167, 131);
}

.button-delete {
  appearance: none;
  background-color: #e03333;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  max-height: 35px;
}

.button-delete:hover {
  background-color: #e30d0d;
  text-decoration: none;
  transition-duration: 0.1s;
}

/* Responsive */

@media (max-width: 600px) {
  input {
    width: 200px;
    margin: 12px;
  }

  .container-search {
    flex-direction: column;
    align-items: center;
  }

  .container-task {
    width: 300px;
  }

  .task > span {
    max-width: 150px;
    line-height: 20px;
  }
}
